.o-footer {
  background: #023539;
  padding: 40px 0 0 0;
  position: relative;

  @include respond-to-up("lg") {
    padding: 240px 0 20px 0;
  }

  &__mobile {
    @include respond-to-up("xl") {
      display: none;
    }
    
    &-logo {
      display: block;
      width: 190px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;

      p {
        font-size: 24px;
        font-weight: 500;
        line-height: 46px;
        color: #bc855e;
        margin: 0 0 8px 0;
      }

      a {
        font-size: 14px;
        font-weight: 500;
        line-height: 17.5px;
        color: #ffff;
        margin-bottom: 12px;
        display: block;
      }
    }
  }

  &__desktop {
    display: none;
    gap: 100px;

    @include respond-to-up("xl") {
      display: flex;
    }
  }

  &__asaf {
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 46px;
      color: #ffff;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @include respond-to-up("xl") {
      flex-direction: row;
    }

    a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: #30494b;
      margin: 0;

      &:hover {
        background: #bc855e;
      }
    }
  }

  &__nav {
    display: flex;
    gap: 45px;

    &-column {
      display: flex;
      flex-direction: column;
      flex: none;

      p {
        font-size: 22px;
        font-weight: 500;
        line-height: 46px;
        color: #bc855e;
        margin-bottom: 15px;
      }

      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 46px;
        color: #ffff;
      }
    }

    &-link {
      color: #bc855e !important;
    }
  }

  &__copyright {
    font-size: 10px;
    font-weight: 500;
    line-height: 46px;
    color: #34676b;
    text-align: center;
    margin: 45px 0 0 0;

    @include respond-to-up("xl") {
      font-size: 14px;
      color: #ffff;
      text-align: left;
    }
  }

  &__floater {
    display: none;
    justify-content: space-between;
    position: absolute;
    top: -150px;
    right: 5%;
    width: 90%;
    border-radius: 40px;

    @include respond-to-up("lg") {
      display: flex;
    }

    &-left {
      width: 60%;
      background: #bc855e;
      border-radius: 40px 0 0 40px;
      padding: 60px 0 30px 30px;

      @include respond-to-up("xl") {
        padding: 60px 0 30px 60px;
      }

      h5 {
        font-size: 26px;
        font-weight: 600;
        line-height: 48.96px;
        color: #ffff;

        @include respond-to-up("xl") {
          font-size: 42px;
        }
      }

      p {
        font-size: 16px;
        font-weight: 600;
        line-height: 18.36px;
        color: #ffff;

        @include respond-to-up("xl") {
          font-size: 18px;
        }
      }
    }

    &-right {
      width: 40%;
      background: #023539;
      border-radius: 0 40px 40px 0;
      padding: 60px 40px 30px 120px;

      @include respond-to-up("xxl") {
        padding: 60px 100px 30px 120px;
      }

      @include respond-to-up("xxxl") {
        padding: 60px 200px 30px 120px;
      }

      p {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        color: #ffff;

        @include respond-to-up("xl") {
          font-size: 24px;
        }

        span {
          color: #25d366;
        }
      }
    }

    &-img {
      position: absolute;
      top: -90px;
      right: 32%;
      width: 320px;

      @include respond-to-up("xl") {
        top: -118px;
        right: 32%;
        width: 350px;
      }

      @include respond-to-up("xxxl") {
        right: 34%;
      }
    }
  }
}
