.activity {
  padding-top: 50px;
  padding-bottom: 50px;

  @include respond-to-up("xl") {
    padding-top: 120px;
    padding-bottom: 150px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to-up("xl") {
      flex-direction: row;
    }
  }

  &__left {
    h5 {
      font-size: 24px;
      font-weight: 600;
      line-height: 29.95px;
      color: #023539;

      @include respond-to-up("xl") {
        font-size: 48px;
        line-height: 59.9px;
      }
    }
  }

  &__right {
    .swiper-slide {
      width: 92% !important;
      position: relative;
      border: 1px solid #e4e4e4;
      border-radius: 30px;
      padding: 60px 11px 40px 13px;

      @include respond-to-up("md") {
        width: 28% !important;
        padding: 60px 15px 40px 14px;
      }

      @include respond-to-up("lg") {
        width: 29% !important;
        padding: 60px 15px 40px 18px;
      }

      @include respond-to-up("xl") {
        width: 30% !important;
        padding: 60px 9px 40px 13px;
      }

      img {
        position: absolute;
        top: 30px;
        right: 25px;
      }

      h5 {
        font-size: 24px;
        font-weight: 600;
        line-height: 29.95px;
        color: #023539;
        margin: 0;

        @include respond-to-up("md") {
          font-size: 20px;
        }

        @include respond-to-up("xl") {
          font-size: 24px;
        }
      }

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.98px;
        color: #808080;
      }

      a {
        font-size: 14px;
        font-weight: 600;
        line-height: 17.47px;
        color: #023539;
        width: 90%;
        display: block;
        text-align: right;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__arrows {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      cursor: pointer;

      &:nth-of-type(1) {
        transform: rotate(180deg);
      }
    }
  }
}
