.hero {
  background: #eeeeee;
  padding: 20px 0 275px 0;
  position: relative;

  @include respond-to-up("md") {
    margin-top: -1px;
  }

  @include respond-to-up("xl") {
    padding: 115px 0;
    overflow-x: hidden;
  }

  h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: $black;
    margin: 0;

    @include respond-to-up("xl") {
      font-size: 18px;
      line-height: 22.5px;
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.95px;
    color: $black;
    margin-bottom: 8px;
    width: 72%;

    @include respond-to-up("xl") {
      font-size: 48px;
      line-height: 60px;
      width: 92%;
      margin-bottom: 11px;
    }
  }

  &__wrapper {
    a {
      &:nth-of-type(1) {
        display: none;
        @include respond-to-up("xl") {
          display: flex;
        }
      }

      &:nth-of-type(2) {
        display: flex;
        @include respond-to-up("xl") {
          display: none;
        }
      }
    }
    @include respond-to-up("xl") {
      width: 40%;
    }
  }

  &__contact {
    display: none;
    gap: 24px;
    margin-top: 70px;

    @include respond-to-up("lg") {
      display: flex;
      flex-direction: column;
    }

    @include respond-to-up("xl") {
      align-items: center;
      flex-direction: row;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 16px;

      &:nth-of-type(1) {
        width: 60%;
      }

      &:nth-of-type(2) {
        width: 40%;
      }

      span {
        display: inline-block;
      }
    }
  }

  &__logo {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 300px;

    @include respond-to-up("md") {
      right: 40px;
      width: 400px;
    }

    @include respond-to-up("lg") {
      width: 500px;
    }

    @include respond-to-up("xl") {
      right: 170px;
      width: auto;
    }
  }

  &__justice {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 246px;

    @include respond-to-up("md") {
      width: 330px;
    }

    @include respond-to-up("lg") {
      width: 450px;
    }

    @include respond-to-up("xl") {
      right: -23px;
      width: auto;
    }
  }
}
