.obligations {
  margin-top: 30px;
  padding-bottom: 50px;

  @include respond-to-up("lg") {
    margin-top: 50px;
    padding-bottom: 300px;
  }
  &__head {
    h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 29.95px;
      color: #000000;

      @include respond-to-up("lg") {
        font-size: 46px;
        font-weight: 700;
        line-height: 57.5px;
      }
    }

    h6 {
      font-size: 16px;
      font-weight: 500;
      line-height: 22.5px;
      color: #000000;

      @include respond-to-up("lg") {
        font-size: 18px;
      }
    }
  }
}
