// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

//
// Default Typography Settings
//
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $title-bottom-space;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #656565;
  margin-bottom: 30px;

  @include respond-to-up("lg") {
    font-size: 14px;
    line-height: 17.5px;
    margin-bottom: 30px;
  }
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $list-bottom-space;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
